body, div, h1, h2, h3, h4, h5, p, ul, li {
    margin: 0;
    padding: 0;
    font-weight: normal;
    list-style: none;
}
html {
    -webkit-text-size-adjust: 100%;
}
html, body {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    background: #fff;
}
body {
    position: relative;
    overflow-x: hidden;
}
body:before {
    background: grey;
    position: absolute;
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    left: 50%;
    top: 50%;
    margin-left: -7px;
    margin-top: -7px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-animation:loading 2s ease-out forwards infinite;
    -moz-animation:loading 2s ease-out forwards infinite;
    display: none;
}
body.loading:before {
    display: block;
}
@-webkit-keyframes loading {
  0% { -webkit-transform:scale(0.3); }
  50% { -webkit-transform:scale(1.0); }
  100% { -webkit-transform:scale(0.3); }
}
@-moz-keyframes loading {
  0% { -moz-transform:scale(0.3); }
  50% { -moz-transform:scale(1.0); }
  100% { -moz-transform:scale(0.3); }
}
body.loading #container, body.loading #single, body.loading .nav {
    opacity: 0;
}
html.loading, body.loading {
    height: 100%;
    overflow: hidden;
}

